body {
    background-color: rgb(238, 197, 72);
}

header, section, main {
    padding: 38px 26px;
    display: flex;
    flex-wrap: wrap;
}

header {
    background-color: rgb(80, 80, 80);
    justify-content: space-between;
}

section {
    justify-content: left;
}

main {
    justify-content: space-around;
}

a {
    color: #FFFFFF;
}

a:focus, a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

button {
    background-color: #2056A0;
    color: #FFF;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

hr {
    width: 100%;
}

.cta__container {
    color: #fff;
    background-color: #000;
    justify-content: left;
}

.header__logo {
    display: inline-block;
}

.header__title h2 {
    margin: 0;
}

.header-menu {
    display: inline-block;
    text-decoration: none;
}

.header-menu__item {
    display: inline-block;
    margin-left: 20px;
}


.header-menu__link {

}

.header-menu__link--active {

}
