// Elements ////////////////////////////

body {
  background-color: rgb(238, 197, 72);
  margin: 0;
  font-family: $font-base;
  box-sizing: border-box;
}

header, section, main {
  padding: 38px 26px;
  display: flex;
  flex-wrap: wrap;
}

header {
  background-color: rgb(80, 80, 80);
  justify-content: space-between;
}

section {
  justify-content: left;
}

main {
  justify-content: space-around;
}

a {
  color: #FFFFFF;
}

a:focus, a:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

button, a.button{
  background-color: #2056A0;
  color: #FFF;
  border: none;
  border-radius: 8px;
  padding: 12px 18px;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  height: 47px;
}

hr {
  width: 100%;
  border-color: #707070;
}
