// Variables ////////////////////////////

$font-title: Helvetica, Arial, sans-serif;
$font-base:  Verdana, Helvetica;

$font-size-m: 20px;
$font-size-s: 16px;

$primary-color: rgba(#EEC548, 1);
$secondary-color: rgba(#505050, 1);
$black: #000;
$white: #FFF;
$soft-white: rgba($white, 0.9);

